/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    min-height: 100vh;
    background-image: url("background.png");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center; /* Center the image */
}

/* Form container */
.form-container,  .form-container-table{
    width: 100%;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*margin: 20px auto;*/
}
.form-container-table{
    max-width: 1000px;
}
.form-container{
    max-width: 500px;

}
/* Form title */
.form-container h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
    font-size: 1.5rem;
}

/* Form label */
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
}

/* Form input fields */
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-btn {
    width: 100%;
    max-width: 300px; /* Set a maximum width for the button */
    padding: 1rem;
    margin: 1rem auto; /* Center the button horizontally */
    text-decoration: none;
    background-color: #123B68;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center; /* Center the text inside the button */
}

.submit-btn:hover {
    background-color: #F3ECEE;
    color: #E2766B;
}

.home-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #FFD700;
    color: #123B68;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;

}
.home-btn:hover{
    background-color: white;
    color: #FFD700;
}
.top-left-button:hover {
    background-color: #45a049;
}

/* Responsive styling */
@media (max-width: 600px) {
    .form-container {
        padding: 1.5rem;
    }
}